* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  text-align: center;
  background-color: #3f0713;
  height: 100px;
  padding: 25px;
  color: whitesmoke;
}

.input-div {
  text-align: center;
  margin-top: 100px;
}

#btn-translate {
  text-align: center;
}

.output-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  flex-direction: column;
}

.output-block button {
  background-color: #3f0713;
  border: none;
  padding: 15px 25px;
  color: white;
}

#output {
  border: 2px solid #3f0713;
  margin-top: 20px;
  width: 400px;
  height: 150px;
  text-align: center;
  padding: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

a {
  text-decoration: none;
}
